<div class="row">
  <div class="col-lg-3">
    <h2>Ingreso de Vehículo</h2>
    <%= render partial: "form" %>
  </div>

  <div class="col-lg-3">
    <h2>Vehículo</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Plate</th>
          <th scope="col">Vehicle Type</th>
        </tr>
      </thead>
      <tbody class="vehicle-plate">
      <%@vehicles.each do |vehicle|%>
          <tr>
            <td><%= vehicle.plate%></td>
            <td><%= link_to vehicle.vehicle_type, vehicle_path(vehicle), remote:true%></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="col-lg-6">
    <div class="total-vehicle">

    </div>
  </div>
</div>
