<h1> Parking Vehicles </h1>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Plate</th>
      <th scope="col">Vehicle Type</th>
      <th scope="col">My Car</th>
    </tr>
  </thead>
  <tbody>
    <% count = 0%>
    <tr>
      <%@vehicles.each do |vehicle|%>
      <th scope="row"><%= count = count+1%></th>
      <td><%= vehicle.plate %></td>
      <td><%= vehicle.vehicle_type%></td>
      <td><%= link_to "ver", vehicle_path(vehicle.id)%></td>
    </tr>
   <% end %>
  </tbody>
</table>
